<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParserClient"
          publicKeyToken="89845dcd8080cc91"
          culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MyVeryPrimitiveBank" providerName="System.Data.SqlClient" connectionString="Data Source=vm-sql.iesn.be\Stu3IG;Integrated Security=False;User ID=1617etu28628;Password=scDnzSscf8;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>